.me {
    margin: 0 auto;
    margin-left: 35vh;
    margin-top: 4vh;
    margin-bottom: -6vh;
    border-radius: 3vh;
}


/* .aboutMe {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    text-align: center;
    margin-right: 5em;
} */

h2, h1{
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;
    margin-left: -1vh;
    margin-top: 3vh;
}

p {
    font-family: 'Montserrat';
    color: #fff;
    margin-left: 10vh;
}

.about {
    height: 100%;
    width: 100%;
    margin-top: -2.7vh;
    background: rgba(0, 0, 0, 0);
    
}

.particles {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1 !important;
}

h3 {
    color: white;
    font-family: 'Raleway', sans-serif;
    margin-left: 2vh;
}

.desc {
    width: 55%;
    margin: 0 auto;
    display: block;
    margin-left: 15vh;
}
.rose {
    margin-left: -2vh;
}

.skills {
    height: 50%;
}

.nav {
    margin-bottom: 2vh;
}

.App {
  background: rgb(0,0,0);
  height: 100%;
}

