.contact {
    height: 100%;
    width: 100%;
    margin-top: 6em;
    background-color: rgba(0, 0, 0, 0);
   
}

.resumeLink{
    text-decoration: none;
    color: #fff;
}

.emailForm {
    margin-bottom: 2em;
}

.contactLogos {
    margin: 0 auto;
    float: center;
}

.contactLogos2 {
    float: center;
    margin: 0 auto;
    padding-bottom: 6em;
}

img {
    margin-left: 6em;
    margin-top: 5em;
    width: 15%;
    height: 15%;
}

.contactTitle {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    margin-left: 1em;
}

.particles {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1 !important;
}

.navbar {
    margin-bottom: 1em;
}